<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${sample}"
                    style="color:rgb(102, 179,73);">Temporal Demos : </h2>
                <h6>This is a simple greeting example. Enter persons first and last name then submit form to start
                    workflow execution. Results will be updated on the page.</h6>
                <div class="form-group">
                    <br /><br /><br />
                    <h5>Say hello to:</h5>
                    <form action="http://localhost:8090/hello-world" , id="sampleform">
                        <p>First Name: <input id="firstName" type="text" name="firstName" /></p>
                        <p>Last Name: <input id="lastName" type="text" name="lastName" /></p>
                        <p><input type="submit" value="Run Workflow" class="btn btn-primary"/>
                            <input type="reset" value="Reset Form" class="btn btn-secondary"/></p>
                    </form>
                </div>
            </div>
            <div style="width: 18rem;">
                <div>
                    <h5 class="card-title">Workflow result:</h5>
                    <br>
                    <p><b><div id="result"></div></b></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script>
    $("#sampleform").submit(function( event ) {
    event.preventDefault();

    var $form = $( this ),
        firstName = $form.find( "input[name='firstName']" ).val(),
        lastName = $form.find( "input[name='lastName']" ).val(),
        url = $form.attr( "action" );

    $.ajax({
        'url': url,
        'method':'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data':JSON.stringify({
            "firstName": firstName,
            "lastName": lastName
        }),
        success: function(response) {
            $( "#result" ).empty().append( response );
        }
    });
});
 
    </script>

</body>

</html>