<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${title}"
                    style="color:rgb(102, 179,73);">
                    Temporal Demos</h2>
                <div class="row">
                    <div class="col-md-12">

                        <table id="NamespaceTable" class="table table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="8" text-align="right"><button id="deleteBtn" type="button"
                                            style="float: right;" onclick="deleteNS();">Approve Deletion</button></td>
                                </tr>
                                <tr>
                                    <td><b>Name</b></td>
                                    <td><input type="text" th:field="${namespace.name}" readonly /></td>
                                    <td><b>Active Region</b></td>
                                    <td>
                                        <input type="text" th:field="${namespace.activeRegion}" readonly />
                                    </td>
                                    <td><b>Status</b></td>
                                    <td><input type="text" th:field="${namespace.state}" readonly /></td>
                                    <td><b>Retention Period</b></td>
                                    <td><input type="text" th:field="${namespace.retentionPeriod}" readonly /></td>
                                </tr>

                            </tbody>
                        </table>
                        <br>
                        <br>
                        <a>Status:</a><br><a id="status" th:text="${status}"></a>
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function deleteNS() {
            // Function will signal the workflow to update to latest updates on screen and call operations to save the changes.
            var ns = [[${ namespace.name }]];
            var url = "/namespace-management-delete/" + ns;
            console.log("Namespace name is - " + ns);


            $.ajax({
                'url': url,
                'method': 'DELETE',
                'contentType': 'application/json',
                'success': function (response) {
                    //$("#result").empty().append(response);
                    document.getElementById("status").nodeValue = "Signalled Workflow to delete namespace";

                    sleep(1500);

                    location.replace("/namespace-management?apiKey=" + [[${ metadata.apiKey }]]);
                },
                "error": function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }

            });


        }
        function sleep(delay) {
            return new Promise(resolve => setTimeout(resolve, delay));
        }
    </script>
</body>