<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body onload="showPage()">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${title}" style="color:rgb(102, 179,73);">
          Temporal Demos</h2>
        <div class="row">
          <div class="col-md-12">
            <form action="#" th:action="@{/namespace-management-details}" th:object="${namespace}" method="post">
              <table id="NamespaceTable" class="table table-striped">
                <tbody>
                  <tr>
                    <td colspan="4" text-align="left"><input id="submitBtn" type="submit" value="Next" /></td>
                    <td colspan="4" text-align="right"><button id="createOrEditBtn" class="page2" type="button"
                        style="float: right;" onclick="createOrUpdateNS();">Create</button></td>
                  </tr>
                  <tr>
                    <td><b>Name</b></td>
                    <td><input type="text" th:field="*{name}" readonly /></td>
                    <td><b>Active Region</b></td>
                    <td>
                      <select id="activeRegionSelect" th:field="*{activeRegion}" disabled="true">
                        <option th:each="region : ${regions}" th:value="${region}" th:text="${region}"></option>
                      </select>
                      <!--  <input type="" th:field="*{activeRegion}" /> -->
                    </td>
                    <td><b>Status</b></td>
                    <td><input type="text" th:field="*{state}" readonly /></td>
                    <td><b>Retention Period</b></td>
                    <td><input type="text" th:field="*{retentionPeriod}" /></td>
                  </tr>

                </tbody>
              </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table id="codecDetails" class="table table-striped page2">
              <tbody>
                <tr>
                  <td style="width: 300px"><b>Codec Server Endpoint</b></td>
                  <td style="width: 100%;"><input id="codecField" style="width: 100%;" type="text"
                      th:field="${namespace.codecEndPoint}" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table id="certificateInfo" class="table table-striped page1">
              <thead>
                <tr>
                  <th>Public Certificate</th>
                  <th>Not Before</th>
                  <th>Not After</th>
                  <th>Principal</th>
                  <th>Alternative Names</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="certificateAuth : ${namespace.certAuthorityPublicCerts}">
                  <td width="60%">
                    <div style="word-wrap: break-word; width: 66ch;"><a th:text="${certificateAuth.caCert}"></a></div>
                  </td>
                  <td width="10%"><a th:text="${certificateAuth.notBefore}"></a></td>
                  <td width="10%"><a th:text="${certificateAuth.expiryDate}"></a></td>
                  <td width="10%"><a th:text="${certificateAuth.subjectPrincipal}"></a></td>
                  <td width="10%">
                    <table>
                      <tr th:each="altName : ${certificateAuth.alternativeNames}">
                        <td><a th:text="${altName}"></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped page2">
              <thead>
                <tr>
                  <th colspan="2">
                    <div style="min-width:300px">Users (For info)</div>
                  </th>
                </tr>
                <tr>
                  <th colspan="1">e-mail</th>
                  <th colspan="1">Role</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${namespace.cloudOpsUsers}">
                  <td colspan="1"><a th:text="${user.eMail}"></a></td>
                  <td colspan="1"><a th:text="${user.role}"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </form>
        <br>
        <br>
        <a>Status:</a><br><a th:text="${status}"></a>
        <div id="result"></div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <script th:inline="javascript">
    function showPage() {

      var page1Elements = document.querySelectorAll(".page1");
      var page2Elements = document.querySelectorAll(".page2");
      console.log("We have " + page1Elements.length + "page1 elements and " + page2Elements.length + "page2.  Showing page + [[${page}]]");

      if ("[[${page}]]" == 1) {
        document.getElementById("submitBtn").value = "Next";
        for (var i = 0; i < page1Elements.length; i++) {
          page1Elements[i].style.display = "inline";
        }

        for (var i = 0; i < page2Elements.length; i++) {
          page2Elements[i].style.display = "none";
        }

      }
      else // Assume showing page 2
      {
        document.getElementById("submitBtn").value = "Previous";

        for (var i = 0; i < page1Elements.length; i++) {
          page1Elements[i].style.display = "none";

        }
        for (var i = 0; i < page2Elements.length; i++) {
          page2Elements[i].style.display = "inline";

        }
      }
      // Logic to make some fields editable if a new namespace
      console.log("isNewNamespace [[${metadata.isNewNamespace}]]");
      if ("[[${metadata.isNewNamespace}]]" == "true") {
        document.getElementById("activeRegionSelect").removeAttribute("disabled");
      }
      else {
        document.getElementById("activeRegionSelect").setAttribute("disabled", true);
      }

    }

    function createOrUpdateNS() {
      // Function will signal the workflow to update to latest updates on screen and call operations to save the changes.
      var namespace = [[${ namespace }]];
      var url = "namespace-update";
      console.log("Namespace name - " + namespace);


      $.ajax({
        'url': url,
        'method': 'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data': JSON.stringify({
          "name": [[${ namespace.name }]],
          "codecEndPoint": document.getElementById("codecField").value,
          "retentionPeriod": [[${ namespace.retentionPeriod }]],
          "activeRegion": [[${ namespace.activeRegion }]]

        }),
        success: function (response) {
          $("#result").empty().append(response);
          location.replace("namespace-management?apiKey=" + [[${ metadata.apiKey }]]);
        }
      });
    }
  </script>
</body>

</html>