<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${title}"
                    style="color:rgb(102, 179,73);">
                    Temporal Demos</h2>
                <div class="row">
                    <div class="col-md-12">
                        <a>Use this screen to run a workflow to check for any CA Certificates that need to be rotated.</a>
                        <br>
                        <a>You can change the frequency at which the check runs and view the results of previous runs.</a>
                        <br><br>
                        <label>Schedule</label>
                        <input id="scheduleFrequency" type="number" step="1" value="1"></input>
                        <select id="units">
                            <option>days</option>
                            <option>hours</option>
                            <option>minutes</option>
                          </select>
                        <br><br>
                        <button type="button" onclick="scheduleRotation(event)">Schedule</button>
                        <br>
                        <br>
                        <a>Status:</a><br><a id="status" th:text="${status}"></a>
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function scheduleRotation() {
            // Function will signal the workflow to update to latest updates on screen and call operations to save the changes.
            var ns = [[${ namespace.name }]];
            var url = "/namespace-management-schedule/" + ns;
            var scheduleFreq = document.getElementById("scheduleFrequency").value;
            var scheduleUnit = document.getElementById("units").value;
            var token = [[${metadata.apiKey}]];

            console.log("Schedule Freq is " + scheduleFreq);
            
            $.ajax({
                'url': url,
                'method': 'POST',
                'contentType': 'application/json',
                'headers': {
                    "Authorization": "Bearer " + token
                },
                'data': JSON.stringify({
                    "scheduleFrequency" : scheduleFreq,
                    "scheduleUnits": scheduleUnit 
                }),
                'success': function (response) {
                    // $("#result").empty().append(response);
                    document.getElementById("result").nodeValue = "Start Workflow to schedule cert auth rotation";

                    sleep(1500);

                    //location.replace("/namespace-management?apiKey=" + [[${ metadata.apiKey }]]);
                },
                "error": function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#result").empty().append(textStatus + " " + errorThrown);
                    //alert("Status: " + textStatus); 
                    //alert("Error: " + errorThrown);
                }

            });


        }
        function sleep(delay) {
            return new Promise(resolve => setTimeout(resolve, delay));
        }
    </script>
</body>

</html>